---
layout: archive
---

{{ content }}

{% if page.collection %}            
  {% assign name = page.collection %}
  {% assign tags =  site[name] | map: 'tags' | uniq %}
  {% for tag in tags %}
    <h3>{{ tag }}</h3>
    <ul>
    {% for note in site[name] %}
      {% if note.tags contains tag %}
      <li><a href="{{ site.baseurl }}{{ note.url }}">{{ note.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endfor %}
{% endif %}


{% assign tags_max = 0 %}
{% for tag in site.tags %}
  {% if tag[1].size > tags_max %}
    {% assign tags_max = tag[1].size %}
  {% endif %}
{% endfor %}

<ul class="taxonomy__index">
  {% for i in (1..tags_max) reversed %}
    {% for tag in site.tags %}
      {% if tag[1].size == i %}
        <li>
          <a href="#{{ tag[0] | slugify }}">
            <strong>{{ tag[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

{% for i in (1..tags_max) reversed %}
  {% for tag in site.tags %}
    {% if tag[1].size == i %}
      <section id="{{ tag[0] | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ tag[0] }}</h2>
        <div class="entries-{{ page.entries_layout | default: 'list' }}">
          {% if page.collection %}
            {{ page.collection }}
            {% assign name = page.collection %}
            {% for entry in site[name] %}
              {% assign entry_tags = entry.tags | split: "" %}
              {{entry_tags}}
              {{tag[0]}}
              {% if entry_tags contains tag[0] %}            
                <article>
                  <h2>{{ entry.title }}</h2>
                  <p>{{ entry.content | markdownify }}</p>
                </article>
              {% endif %}
            {% endfor %}
            {% if post.tags contains tag[0] %}
              {% include documents-collection.html collection=page.collection sort_by=page.sort_by sort_order=page.sort_order type=page.entries_layout%}
            {% endif %}
          {% else %}
            {% for post in tag.last %}
              {% include archive-single.html type=page.entries_layout %}
            {% endfor %}
          {% endif %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}
  {% endfor %}
{% endfor %}
